:root {
  --primary-clr-one: hsla(21, 65%, 57%, 1);
  --primary-clr-two: hsla(0, 0%, 0%, 1);
  --primary-clr-three: hsla(0, 0%, 10%, 1);

  --neutral-clr-one: hsla(0, 0%, 100%, 1);
  --neutral-clr-two: hsla(0, 0%, 98%, 1);
  --neutral-clr-three: hsla(0, 0%, 95%, 1);
  --neutral-clr-four: hsla(0, 0%, 81%, 1);

  --hover-clr-one: hsla(22, 93%, 75%, 1);
  --hover-clr-two: hsla(0, 0%, 100%, 1);
  --hover-clr-three: hsla(0, 0%, 30%, 01);

  --error-clr: hsl(0, 65%, 49%, 1);
  --border-clr: rgba(255, 255, 255, 0.1);
  --border-clr-two: hsla(0, 0%, 0%, 0.08);
  --overlay: hsla(0, 0%, 0%, 0.4);
}
