.category-intro {
  padding: 2rem 2rem;

  background: var(--primary-clr-two);

  @media (min-width: 47.5rem) {
    padding: 6.56rem 2rem 6.06rem 2rem;
  }

  @media (min-width: 62.5rem) {
    padding: 6.13rem 2rem 6.06rem 2rem;
  }

  &__header {
    max-width: 69.38rem;
    margin: 0 auto;
  }

  &__title {
    color: var(--neutral-clr-one);
    text-align: center;
    font-size: var(--font-size-28);
    font-weight: var(--font-weight-700);
    line-height: normal;
    letter-spacing: 0.13rem;
    text-transform: uppercase;

    @media (min-width: 47.5rem) {
      font-size: var(--font-size-40);
      line-height: 1.1;
      letter-spacing: 0.09rem;
    }
  }
}
