.product-category {
  padding: 0 1.5rem;
  margin-bottom: 10.38rem;

  @media (min-width: 47.5rem) {
    padding: 0 2.5rem 0 2.44rem;
    margin-bottom: 10.81rem;
  }

  @media (min-width: 62.5rem) {
    margin-bottom: 14.88rem;
  }

  &__content {
    max-width: 69.38rem;

    margin: 0 auto;
  }

  &__list {
    display: grid;
    gap: 7.5rem;

    @media (min-width: 62.5rem) {
      gap: 10rem;
    }
  }
}
