.header {
  z-index: 99;
  position: relative;

  padding: 2rem 1.5rem 2.06rem 1.5rem;
  border-bottom: solid 1px var(--border-clr);

  background: var(--primary-clr-two);

  @media (min-width: 47.5rem) {
    padding: 2rem 2.5rem 2.06rem 2.44rem;
  }

  @media (min-width: 62.5rem) {
    padding: 1.88rem 2.5rem 2.06rem 2.44rem;
  }

  &__content {
    max-width: 69.38rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: auto;
  }

  &__links {
    width: 100%;
    display: grid;
    grid-template-areas: "nav logo";
    align-items: center;

    @media (min-width: 47.5rem) {
      grid-template-areas: "nav logo  . . . . . . . . . .";
    }

    @media (min-width: 62.5rem) {
      grid-template-areas: "logo nav";
      grid-template-columns: 1fr 2.2fr;
    }
  }

  &__logo {
    grid-area: logo;
  }
}

.nav__button,
.cart__button {
  // min-width: 10ch;
  // min-height: 44px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  // font-size: 13px;
  // font-style: normal;
  // font-weight: 700;
  // line-height: normal;
  // letter-spacing: 1px;
  // text-transform: uppercase;

  @media (hover: hover) {
    &:is(:hover, :focus, :focus-visible) {
      outline: none;

      transition: 0.8s all;
    }
  }
}
